//  Core
body {
    .wallet-balance {
        .amount {
            font-size: 2rem;
        }

        .evr {
            font-size: 1rem;
        }
    }

    .edit-btn {
        font-size: 1rem;
        cursor: pointer;
        border-radius: 0.1rem;

        &:hover {
            background-color: $dark;
        }
    }

    .online {
        width: 0.8rem;
        height: 0.8rem;
        background: $success;
    }

    .offline {
        width: 0.8rem;
        height: 0.8rem;
        background: $warning;
    }

    .address-input {
        width: 280px !important;
    }
}
