@import "../assets/variables";

.sidebar {
    width: $sidebar-width;
    background-color: $sidebar-bg;
    transition: width 500ms, height 500ms;
    z-index: 1;

    .sidebar-content {
        opacity: 1;
        transition: opacity 500ms;

        &.hidden {
            opacity: 0;
        }
    }

    .menu-icon {
        background-color: $sidebar-bg;
        padding: 1px 5px 1px 5px;
        font-size: 1rem;
        cursor: pointer;
        display: none;
        width: fit-content;
        margin-left: auto;
    }

    &.hidden {
        width: 0;
        height: 0;
        padding: 0 !important;

        .menu-icon {
            transform: translate(0, -100%);
        }
    }
}

@media only screen and (max-width: 992px) {
    .sidebar {
        position: fixed;
        bottom: 0rem;
        left: 0rem;
        width: 27rem;
        height: 20rem;
        box-shadow: -1px -3px 8px #000000c4;

        .menu-icon {
            display: inline-block;
        }
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        position: fixed;
        bottom: 0rem;
        left: 0rem;
        right: 0rem;
        width: 100%;
        height: 15rem;
        box-shadow: -1px -3px 8px #000000c4;

        .menu-icon {
            display: inline-block;
        }
    }
}
