.singleCandidateTitle{
    text-align: left !important;
}

@media (max-width: 1400px) {
  .singleCandidateTitle {
    font-size: $display4-size / 1.6 !important;
  }
}

@media (max-width: 768px) {
  .singleCandidateTitle {
    font-size: $display4-size / 2.2 !important;
  }
}

@media (max-width: 576px) {
  .singleCandidateTitle {
    font-size: $display4-size / 2.8 !important;
  }
}
