@import "../../assets/variables";

.event-scroll-list {
    overflow: hidden;
    border: 1px solid $gray-300;

    .card-list-container{
        height: 0px;

        .card-list {
            transform: translateY(-100%);
        }
    }
}

.event-enter {
    max-height: 0px;
    opacity: 0.3;
}

.event-enter.event-enter-active {
    max-height: $event-card-max-height;
    opacity: 1;
    transition: $event-animation;
}

.event-leave {
    max-height: $event-card-max-height;
    opacity: 1;
}

.event-leave.event-leave-active {
    max-height: 0px;
    opacity: 0.3;
    transition: $event-animation;
}
