@import "../assets/variables";

$marker-size: 1rem;
$node-width: 15rem;

.map-node-marker-container {
    width: 0rem;
    height: 0rem;

    .map-node-marker {
        transform: translate(-50%, -50%);
        font-size: $marker-size;
        text-shadow: 0px 0px 6px black;
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);

        &.blink {
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0.2;
            }
        }
    }

    .node-event-container {
        width: 0rem;
        height: 0rem;
    }

    .node-event {
        font-size: 0.65rem;
        line-height: 0.3rem;
        font-weight: normal;
        color: $gray-100;
        opacity: 0.8;
        text-shadow: 0px 0px 6px black;
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        z-index: 1;
        position: sticky;
        
        &.event-active {
            background-color: $active-bg;
            color: $active-font;
        }
    
        &.event-redeem-req {
            background-color: $redeem-req-bg;
            color: $redeem-req-font;
        }
    
        &.event-redeem-res {
            background-color: $redeem-res-bg;
            color: $redeem-res-font;
        }
    
        &.event-audit-req {
            background-color: $audit-req-bg;
            color: $audit-req-font;
        }
    
        &.event-audit-res {
            background-color: $audit-res-bg;
            color: $audit-res-font;
        }
    }

    &.event-active {
        color: $active-bg;
    }

    &.event-redeem-req {
        color: $redeem-req-bg;
    }

    &.event-redeem-res {
        color: $redeem-res-bg;
    }

    &.event-audit-req {
        color: $audit-req-bg;
    }

    &.event-audit-res {
        color: $audit-res-bg;
    }
}
