@import "../assets/variables";

.map-node-marker-container {
    width: 0rem;
    height: 0rem;

    .map-node-marker {
        transform: translate(-50%, -50%);
        font-size: $marker-size;
        text-shadow: 0px 0px 6px black;
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);

        &.blink {
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0.2;
            }
        }
    }

    &.front {
        position: sticky;
        z-index: 1;
    }
    
    &.event-active {
        color: $active-bg;
    }

    &.event-selected {
        color: $selected-bg;
    }

    &.event-host-reg {
        color: $host-reg-bg;
    }

    &.event-host-dereg {
        color: $host-dereg-bg;
    }

    &.event-redeem-req {
        color: $redeem-req-bg;
    }

    &.event-redeem-suc {
        color: $redeem-suc-bg;
    }

    &.event-redeem-err {
        color: $redeem-err-bg;
    }

    &.event-audit-req {
        color: $audit-req-bg;
    }

    &.event-audit-suc {
        color: $audit-suc-bg;
    }

    &.event-refund-req {
        color: $refund-req-bg;
    }
}
