@import "../assets/variables";

$marker-size: 0.8rem;
$node-width: 15rem;

.map-node-marker-container {
    width: 0rem;
    height: 0rem;

    .map-node-marker {
        transform: translate(-50%, -50%);
        font-size: $marker-size;
        text-shadow: 0px 0px 6px black;
        border-top: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(0, 0, 0, 0);

        &.blink {
            animation: blinker 1s linear infinite;
        }

        @keyframes blinker {
            50% {
                opacity: 0.2;
            }
        }
    }

    &.front {
        position: sticky;
        z-index: 1;
    }

    &.event-active {
        color: $active-bg;
    }

    &.event-redeem-req {
        color: $redeem-req-bg;
    }

    &.event-redeem-res {
        color: $redeem-res-bg;
    }

    &.event-audit-req {
        color: $audit-req-bg;
    }

    &.event-audit-res {
        color: $audit-res-bg;
    }
}
