@import "../assets/variables";

.content {
    overflow: hidden;
}

.map-view-container {
    width: 0rem;
    height: 0rem;
    margin: 0rem auto;
}

.map-view {
    background-image: url("../assets/map.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);
    transition: width 100ms, height 100ms;
}

@media only screen and (max-width: 768px) {
    .map-view {
        transform: translate(-50%, -80%);
    }    
}
