@import "../../../assets/variables";

.event-scroll-list {
    overflow: hidden;
    background-color: $gray-200;
    border: 1px solid $gray-50;

    .card-list-container {
        height: 0px;

        .card-list {
            transform: translateY(-100%);
        }
    }
}

.event-enter {
    max-height: 0px;
    opacity: 0.3;
}

.event-enter-active {
    max-height: $event-card-max-height;
    opacity: 1;
    transition: $event-animation;
}

.event-exit {
    max-height: $event-card-max-height;
    opacity: 1;
}

.event-exit-active {
    max-height: 0px;
    opacity: 0.3;
    transition: $event-animation;
}
