$site-bg: #414141;
$sidebar-bg: #222;
$popup-bg: #222;
$sidebar-hook-bg: #313030;

$badge-green: #00bc8c;
$badge-orange: #f39c12;

//dark theme
$gray-100: #222;
$gray-200: #444;
$gray-300: #555;
$gray-400: #a7a3a3;
$gray-500: #c4c4c4;

//blue
$blue-100: #7baadc;

$white: #ffffff;
$green: #60cc17;
$green-dark: #225202;
$red: #af3131;
$red-dark: #881919;
$blue: #078fff;
$purple: #004cda;
$yellow: #ebc51f;
$orange: #e97414;

$active-bg: $green;
$selected-bg: $green-dark;
$host-reg-bg: #603808;
$host-dereg-bg: #8b5e34;
$redeem-req-bg: #01497c;
$redeem-suc-bg: #007f5f;
$redeem-err-bg: #a02b0e;
$audit-req-bg: #0d47a1;
$audit-suc-bg: #2c7da0;
$refund-req-bg: #066168;
$reward-bg: #2f094eea;

$sidebar-width: 22rem;
$popup-width: 23.4rem;
$popup-height: 13rem;

$event-card-max-height: 8rem;

// Marker
$marker-size: 0.8rem;

// Region
$status-line-height: 0.3rem;

$status-animation: all 500ms ease-in;

$event-animation: all 500ms ease-in;
